# editor files
\#*
*~
# temp files
nohup.out
.run_pipeline_for_new_msl.email.txt
##
## cache dirs
##
VMRs/
# blast results
results/*/**.csv
results/*/*
results/.merge*
# blast DB
blast/
# Blast DB files
*.ndb
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
# SLuRM files
logs/
log.*
# conda environments
conda/
# downloaded fasta
*.fa
fasta_new_vmr_a/
fasta_new_vmr/
