*.ndb
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
output/results.out
blast/
fasta/
fasta_new_vmr/
Genus_MSA/
Input_MSA/
MSA_test/
output/
Output_MSA/
query/
seg_MSA/
seg_MSA1/
VMR/
*.fa
*.fasta
*.csv
*.xlsx
*.npy
*.err
*.out
*.txt
*.sqlite
*.sql
*.xml
*.allfa
*.msa
